<div  id="container"*ngFor="let n of allNobesList">
  <!-- <li *ngFor="let p of allPeople; index as i" routerLink="/people/{{i}}">{{p.name}}</li> -->
  <!-- <app-event-detail *ngFor="let e of getEventsByNewest()" [individualEvent]="e"></app-event-detail> -->
  <div id="card-container">
    <div class="card" >
      <div class="card_details" routerLink="/nobe/{{ n.nobeId }}">
        <div class="name">{{ n.nobeName }}</div>
        <div>Votes: {{ n.points }}  </div>
        <div>{{n.icon}}</div>
        <div class="image-container">
          <!-- <img src="{{ n.icon }}" /> -->
          <button  *ngIf="!voted" (click)="upVoteNobe()" >Upvote!</button>
          <p>Hello</p>
          <p *ngIf="voted">You already voted</p>
          <!-- <button  *ngIf="voted"(click)="removeVote()">Remove vote</button> -->
          <div class="icon">

              <i class="fa fa-trash" (click)="deleteNobe()"></i>

          <button id="heart" (click)="fetchAddNobeToFave(n)"><i class="fas fa-heart"></i></button>
          <button id="trash" (click)="fetchDeleteNobe(n.nobeId)"><i class="fas fa-trash"></i></button>
          
          <!-- if the userID matches any of the events in the table, make the heart pink -->
          <!-- <button id="like" *ngIf="eventFavorited == true" (click)="callRemoveEventFromFave(e)"><i class="fas fa-heart"></i></button> -->
          <!-- <i class="fas fa-heart"><button id="heart-checkbox" (click)="callAddEventToFave(e)"> </button></i> -->
        </div>
        <div class="category">{{ n.category }}</div>
        <div style="font-weight: 800; color: rgb(255, 0, 115);">{{n.users}}
          <span class="tag">{{ n.category }}  </span>
        <br>
          <!-- <button  *ngIf="!voted" (click)="upVotePost()" >Upvote!</button>
          <button  *ngIf="voted"(click)="removeVote()">Remove vote</button> -->
        </div>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>

