/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #E57480;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.button {
  background-color:#f495a0;
  border: none;
  border-radius: 20px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
  color: white;
  padding: 10px 20px; /* Adjust padding as needed */
  font-weight: bold;
}
