<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nobe Details</title>
    </head>
    <body>
        <div *ngIf="!nobeDeleted">
            <div id="card-container">
                <div class="card">
                    <img src={{individualNobe.icon}}>
                    <div class="card_details">
                        <div class="name">
                            {{individualNobe.nobeName}}
                        </div>
                        <p>{{individualNobe.description}}</p>
                        <span class="tag">{{individualNobe.points}} Votes </span>
                        <button  *ngIf="!voted" (click)="upVotePost()" >Upvote!</button>
                        <button  *ngIf="voted"(click)="removeVote()">Remove vote</button>
                        <div class="icon">

                            <i class="fa fa-trash" (click)="deleteNobe()"></i>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>