.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between cards as needed */
}

.card {
  text-align: center;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #f495a0;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.container {
  font-family: "Nunito", sans-serif;
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold;
  margin-bottom: 10px;
}

.image-container {
  width: 100%; /* Ensure the image takes up the full width of the container */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100px;
  height: 100px;
  color: white;
  margin: 10px;
}

.container {
  padding: 2px 16px;
}

h1 {
  font-family: "Nunito", sans-serif;
}
