<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add A New Nobe</title>
</head>
<div class="align-items: center">
  
  <button style="margin-bottom: 5%;" class="button" (click)="toggleDisplay()">Add a Nobe</button>
</div>
<body>
<div  *ngIf="displayForm">
      <div class="form" *ngIf="(loggedIn == false) && (displayForm == true)">
        <!-- change loggedin to true once you have this figured out -->
        <h2>New Nobe</h2>
        <br>
        <textarea cols="40" rows="1"  placeholder="Nobe Title"[(ngModel)]="newNobe.nobeName" name="Title"></textarea>
        <br>
        <br>

        <!-- <input type="text" placeholder="Name" [(ngModel)]="newNobe.nobeName" />
        <p>Category</p> -->
        
        <select [(ngModel)]="newNobe.category">
          <option value="">Select a category</option>
          
          <option *ngFor="let category of displayCategories" [value]="category.categoryName">
            {{ category.categoryName }}
          </option>
        </select>
        <br>
        <br>
        <textarea cols="40" rows="3" placeholder="Description"[(ngModel)]="newNobe.description" name="Description"></textarea>
        <br>
        <input type="text" placeholder="upload image"[(ngModel)]="newNobe.icon" name="Image">
        <br>
        <br>
        <input type="file" (change)="onFileSelected($event)">
        
        <button (click)="submitNobe(newNobe)">Submit</button>
      </div>
</div>
</body>
</html>
  
  
  <!-- since the points is default set to 0, I don't need this dropdown -->
      <!-- <p>Number of Points</p>
      <select [(ngModel)]="newNobe.points">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
      </select> -->
