body {
    margin: 0%;
    padding: 0%;
    background: #f495a0; /* Set a background color for the body */
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
  }
  
  textarea {
    width: 100%;
  }